<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <title>About</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
   <div class="about-background">
      <nav class="page-nav">
        <a href="/"><img class="page-logo" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="name-logo"><h2 class="name-logo" id="page-name-logo">Underlying Light</h2></a>
          <ul class="nav-links" id="page-nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about" class="active">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div class="burger" id="page-burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
        <section>
          <div class="about-section">
          <div class="about">
            <h1 id="pages-heading">About Us</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi id beatae omnis autem doloribus repudiandae reiciendis, quod quae rerum ratione impedit, perspiciatis laborum repellat porro. <br> accusantium qui quisquam officiis itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! <br> Perspiciatis consequatur illum nostrum aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.</p>
          </div>

        <aside class="about-aside">
          <ul class="about-info">
            <li class="about-contact">
              <h3>Contact</h3>
              <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
              <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
              <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
            </li>
            <li class="about-services">
              <h3>Services</h3>
                <div class="about-pricing">
                <div class="about-pricing-opt">
                  <h2>Swedish Massage</h2>
                  <p>$65</p>
                </div>
                <div class="about-pricing-opt">
                  <h2>Deep Tissue</h2>
                  <p>$75</p>
                </div>
                <div class="about-pricing-opt">
                  <h2>Sports Massage</h2>
                  <p>$85</p>
                </div>
              </div>
            </li>
            <li>
              <div class="about-border">
                <div class="about-buttons">
                  <a href="pricing"><button class="card-btn" id="about-btn">Book appointment</button></a>
                  <a href="contact"><button class="card-btn" id="about-btn">Contact Us</button></a>
                </div>
              </div>
            </li>
          </ul>
        </aside>
      </div>
    </section>

    <footer class="footer">
      <div class="main-footer-content">

        <div class="footer-logo-div">
          <div class="footer-logo">
          <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
          <a href="/" class="name-logo"><h2 class="name-logo">Underlying Light</h2></a>

          </div>
          <!-- <h2>Underlying Light</h2> -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum.</p>
        </div>

        <div class="vertical-line">
        </div>

        <div class="footer-contact">
          <h3>Contact</h3>
          <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
          <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
          <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
        </div>


        <div class="footer-page-links">
          <h3>Pages</h3>
          <ul class="footer-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="vertical-line">
        </div>
      </div>

      <div class="footer-copyright">
        <p>© 2020 underlyinglight.com All Rights Reserved</p>
      </div>
    </footer>

    <div class="mobile-footer" id="page-footer">
      <div class="mobile-ftr-content" id="mobile-page-div">
        <div class="mobile-ftr-pages">
          <a href="/" class="mobile-ftr-logo"><img class="mobile-ftr-logo" src="assets/white-plant.png" alt="pic"></a>
          <h3>Pages</h3>
          <ul class="mobile-links" id="mobile-page-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile-copyright">
        <p>© 2020 underlyinglight.com All Rights Reserved</p>
      </div>
    </div>

    </div>
  </div>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
