<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <!-- <link href="./resources/css/index.css" type="text/css" rel="stylesheet"> -->
  <title>Home</title>
</head>
<body>

  <div class="container">
   <div class="background">
      <header>
      </header>
      <nav id="page-nav">
        <a href="/"><img class="page-logo" src="assets/white-plant.png" alt="pic"></a>
        <!-- <h1 class="nav-h1">About</h1> -->
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about" id="about-active">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </div>
  </div>

  <footer>
  </footer>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
