<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <!-- <link href="./resources/css/index.css" type="text/css" rel="stylesheet"> -->
  <title>About</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
   <div class="background" id="about-background">
      <nav id="page-nav">
        <a href="/"><img id="page-logo" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" id="white-plant"><img id="white-plant" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" id="name-logo"><h2 id="page-name-logo">Underlying Light</h2></a>
        <!-- <h1 class="nav-h1">About</h1> -->
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about" id="about-active">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
        <section id="about-section">
          <div class="about">
            <h1 id="pages-heading">About Us</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi id beatae omnis autem doloribus repudiandae reiciendis, quod quae rerum ratione impedit, perspiciatis laborum repellat porro. <br> accusantium qui quisquam officiis itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! <br> Perspiciatis consequatur illum nostrum aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.</p>
          </div>

        <aside class="about-aside">
          <ul class="about-info">
            <li class="about-location">
              <h3>Location</h3>
              <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
              <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
              <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
            </li>
            <li class="about-services">
              <h3>Services</h3>
                <div class="pricing-p" id="about-pricing">
                <div class="pricing-opt">
                  <h2>Swedish Massage</h2>
                  <p>$65</p>
                </div>
                <div class="pricing-opt">
                  <h2>Deep Tissue</h2>
                  <p>$75</p>
                </div>
                <div class="pricing-opt">
                  <h2>Sports Massage</h2>
                  <p>$85</p>
                </div>
              </div>
            </li>
            <li>
              <div class="about-border">
              <a href="pricing"><button class="card-btn" id="about-btn">Book appointment</button></a>
              <a href="contact"><button class="card-btn" id="about-btn">Contact</button></a>
            </div>
            </li>
          </ul>
        </aside>
    </section>

      <footer>
      <div class="footer">
          <hr class="linebreak" />
        <div class="footer-contact">
          <!-- <h3>Contact Us</h3> -->
          <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
          <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
          <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
        </div>

        <ul class="footer-links">
          <!-- <h3>Pages</h3> -->
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="about">About</a>
          </li>
          <li>
            <a href="pricing">Pricing</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>


      </div>
        <div class="copyright">
          <small>© 2020 underlyinglight.com All Rights Reserved</small>
        </div>
    </footer>
    </div>
    </div>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
