<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <!-- <link href="./resources/css/index.css" type="text/css" rel="stylesheet"> -->
  <title>About</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
   <div class="background">
      <header>
      </header>
      <nav id="page-nav">
        <a href="/"><img class="page-logo" src="assets/white-plant.png" alt="pic"></a>
        <!-- <h1 class="nav-h1">About</h1> -->
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about" id="about-active">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
        <section id="about-section">
          <h1 id="pages-heading">About</h1>
          <p id="about-p"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi id beatae omnis autem doloribus repudiandae reiciendis, quod quae rerum ratione impedit, perspiciatis laborum repellat porro accusantium qui quisquam officiis itaque!</p>
        </section>
      </div>
    </div>


  <footer>
  </footer>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
