<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <title>Contact</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="contact-background">
      <nav class="page-nav">
        <a href="/"><img class="page-logo" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="name-logo"><h2 class="name-logo">Underlying Light</h2></a>
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing">Services</a>
            </li>
            <li>
              <a href="contact" class="active">Contact</a>
            </li>
          </ul>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>

      <header class="contact-banner">
        <h1>Contact</h1>
      </header>

      <div class="contact-wrapper">
        <section class="contact-section">

      <form class="form">
        <h2>Contact Us</h2>
        <div class="form-body">
          <p type="First name:"><input placeholder="First name"></input></p>
          <p type="Last name:"><input placeholder="Last name"></input></p>
          <p type="Email:" id="email"><input placeholder="example@example.com"></input></p>
          <p type="Message:" id="message"><input type="text" placeholder="What would you like to tell us.."></input></p>
        </div>
        <button>Send Message</button>
      </form>


      <div class="contact-flex-wrapper">
          <div class="contact-info">
              <div class="contact">
                <p><i class="fas fa-map-marker-alt"></i> Lake Orion, Michigan 48360</p>
                <p><i class="fas fa-phone"></i> (222)222-2222</i></p>
                <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
            </div>
          </div>


          <div class="contact-hours">
            <h2>Hours</h2>
            <div class="hours">
              <div class="hour"><h3>Monday</h3> <p>8am - 6pm</p></div>
              <div class="hour"><h3>Tuesday</h3> <p>8am - 6pm</p></div>
              <div class="hour"><h3>Wednesday</h3> <p>8am - 6pm</p></div>
              <div class="hour"><h3>Thursday</h3> <p>8am - 2pm</p></div>
              <div class="hour"><h3>Friday</h3> <p>8am - 6pm</p></div>
              <div class="hour"><h3>Saturday</h3> <p>CLOSED</p></div>
              <div class="hour"><h3>Sunday</h3> <p>CLOSED</p></div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <div id="map"></div>

      <section class="callout-section">
        <div class="callout-container">
          <div class="callout-body">
            <h2>
              Ut sem viverra aliquet
              <span>malesuada fames ac turpis egestas.</span>
            </h2>
            <button>
              Our Services
            </button>
          </div>
          <div class="callout-cards">
            <div class="callout-card" id="callout-card-1">
            </div>
            <div class="callout-card" id="callout-card-2">
            </div>
            <div class="callout-card" id="callout-card-3">
            </div>
            <div class="callout-card" id="callout-card-4">
            </div>
          </div>
        </div>
      </section>

      <section class="pre-footer">
      </section>

      <footer class="footer">
        <div class="main-footer-content">

          <div class="footer-logo">
              <a href="/"><img src="assets/logo.png" alt="pic"></a>
              <!-- <p>Nulla pellentesque dignissim enim sit.</p> -->
          </div>

          <div class="footer-links">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="pricing">Our Services</a>
              </li>
              <li>
                <a href="contact">Contact Us</a>
              </li>
 <!--              <li class="privacy-policy">
                <a href="#">Privacy Policy | Terms of Use</a>
              </li> -->
            </ul>
          </div>

          <div class="vertical-line">
          </div>
        </div>

        <div class="footer-copyright">
          <p>© 2020 underlyinglight.com All Rights Reserved</p>
        </div>
      </footer>
    </div>
  </div>
            <script>
              //map options
              function initMap() {
                var options = {
                  zoom:12,
                  center:{lat:42.7747,lng:-83.2325},
                  disableDefaultUI: true,
                  zoomControl: true,
                  fullscreenControl: true,
                  styles: [
                  {
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#212121"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#757575"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                      {
                        "color": "#212121"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#757575"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative.country",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#9e9e9e"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative.land_parcel",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative.locality",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#bdbdbd"
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#757575"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#181818"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#616161"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.park",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                      {
                        "color": "#1b1b1b"
                      }
                    ]
                  },
                  {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [
                      {
                        "color": "#2c2c2c"
                      }
                    ]
                  },
                  {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#8a8a8a"
                      }
                    ]
                  },
                  {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#373737"
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#3c3c3c"
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#4e4e4e"
                      }
                    ]
                  },
                  {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#616161"
                      }
                    ]
                  },
                  {
                    "featureType": "transit",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#757575"
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#000000"
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#3d3d3d"
                      }
                    ]
                  }
                ]
                }

                //new map
                var map = new google.maps.Map(document.getElementById('map'), options);

                //add marker
                var marker = new google.maps.Marker({
                  position:{lat:42.7845,lng:-83.2397},
                  map:map,
                  icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png",
                  }
                });

                //add popup when user clicks on marker
                var infoWindow = new google.maps.InfoWindow({
                  content:'<h1>Book Appointment</h1>'
                });

                marker.addListener('click', function(){
                  infoWindow.open(map, marker);
                });

              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGdISCeOWf4Fp9TLdeeA-x-X7e1qunU04&callback=initMap">
            </script>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>













