<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <title>Underlying Light</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="home">
      <nav class="home-nav">
        <a href="/" class="white-logo"><img class="logo" src="assets/logo.png" alt="pic"></a>
        <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="name-logo"><h2 class="name-logo">Underlying Light</h2></a>
          <ul class="nav-links">
            <li>
              <a href="/" class="active">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing">Services</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div class="burger" id="page-burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>

      <section class="home-section">
          <div class="mobile-home-section">
            <div class="home-main-section">
              <div class="main-logo">
                <a href="/"><img class="laptop-logo" src="assets/logo.png" alt="pic"></a>
                <h2 class="heading-two">Massage Therapy</h2>
              </div>

              <div class="mobile-section">
                <h1 id="welcome">Welcome</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>

              <a href="pricing"><button class="book-btn">Book an appointment</button></a>
              <div class="home-border">
              </div>
            </div>

            <div class="home-contact">
              <div class="contact-icons">
                <h2>Contact</h2>
                <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
                <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
                <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
              </div>
            </div>
          </div>

          <div class="card-section">
            <ul class="home-cards">
              <li class="card-one">
                <h2>Swedish Massage</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!</p>
                <img class="card-img" src="assets/swedish.jpeg" alt="Swedish massage">
                <!-- <a href="pricing"><button class="card-btn">Book appointment</button></a> -->
              </li>
              <li class="card-two">
                <h2>Deep Tissue</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</p>
                <img class="card-img" src="assets/deep-tissue.jpeg" alt="Deep tissue massage">
                <!-- <a href="pricing"><button class="card-btn">Book appointment</button></a> -->
              </li>
              <li class="card-three">
                <h2>Sports Massage</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!</p>
                <img class="card-img" src="assets/sports-massage.jpeg" alt="Sports massage">
                <!-- <a href="pricing"><button class="card-btn">Book appointment</button></a> -->
              </li>
              <li id="card-four">
                <div class="card-four-content">
                  <h2>Contact</h2>
                  <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
                  <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
                  <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
                </div>
              </li>
            </ul>
          </div>
      </section>

      <section class="testimonial">
        <h2>Testimonials</h2>
        <div class="testimonial-cards">
          <div class="testimonial-card">
            <p>"Nulla pellentesque dignissim enim sit. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Sed risus pretium quam vulputate dignissim. Et tortor consequat id porta nibh venenatis."</p>
            <h3>Adrian Walker</h3>
          </div>
          <div class="testimonial-card">
            <p>"Tincidunt arcu non sodales neque sodales ut etiam sit. Condimentum lacinia quis vel eros donec ac. Quam nulla porttitor massa id neque aliquam vestibulum morbi. Amet volutpat consequat mauris nunc."</p>
            <h3>Natalie Fraser</h3>
          </div>
          <div class="testimonial-card">
            <p>"Semper quis lectus nulla at volutpat diam. Amet est placerat in egestas erat imperdiet sed euismod nisi. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Mauris augue neque gravida in fermentum et sollicitudin ac orci. "</p>
            <h3>Una James</h3>
          </div>
        </div>
      </section>

      <section class="offset-section">
        <div class="offset-container">
          <div class="offset-image">
            <img class="card-img" src="assets/oil.jpg" alt="Essential oils">
          </div>
          <div class="offset-body">
            <h2>Our massage therapists provide<span> individualized care.</span></h2>
            <p>Sodales ut etiam sit amet nisl. Fringilla urna porttitor rhoncus dolor purus non. Cras sed felis eget velit. Habitant morbi tristique senectus et. Euismod quis viverra nibh cras pulvinar. Semper quis lectus nulla at volutpat diam. Amet est placerat in egestas erat imperdiet sed euismod nisi. Mollis aliquam ut porttitor leo a diam sollicitudin tempor.</p>
            <button class="book-btn">
              Book an appointment
            </button>
          </div>
        </div>
      </section>

      <section class="pre-footer">
      </section>

      <footer class="footer">
        <div class="main-footer-content">

          <div class="footer-logo-div">
            <div class="footer-logo">
              <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
              <a href="/" class="name-logo"><h2 class="name-logo">Underlying Light</h2></a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>

          <div class="vertical-line">
          </div>

          <div class="footer-contact">
            <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
            <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
            <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
          </div>

          <div class="footer-page-links">
            <ul class="footer-links">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="about">About</a>
              </li>
              <li>
                <a href="pricing">Services</a>
              </li>
              <li>
                <a href="contact">Contact</a>
              </li>
            </ul>
          </div>

          <div class="vertical-line">
          </div>
        </div>

        <div class="footer-copyright">
          <p>© 2020 underlyinglight.com All Rights Reserved</p>
        </div>
      </footer>

      <div class="mobile-footer">
        <div class="mobile-ftr-content">
          <div class="mobile-ftr-pages">
            <a href="/" class="mobile-ftr-logo">
              <img class="mobile-ftr-logo" src="assets/white-plant.png" alt="pic">
            </a>
            <h3>Underlying Light</h3>
            <ul class="mobile-links">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="about">About</a>
              </li>
              <li>
                <a href="pricing">Services</a>
              </li>
              <li>
                <a href="contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="mobile-copyright">
          <p>© 2020 underlyinglight.com All Rights Reserved</p>
        </div>
      </div>

    </div>
  </div>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
