<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="background">
      <nav>
        <a href="/" class="white-logo"><img class="logo" src="assets/logo.png" alt="pic"></a>
        <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="name-logo"><h2 class="name-logo">Underlying Light</h2></a>
          <ul class="nav-links">
            <li>
              <a href="/" class="active">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>

      <section>
        <div class="home-section">
          <div class="mobile-home-section">
            <div class="home-main-section">
              <div class="main-logo">
                <a href="/"><img class="laptop-logo" src="assets/logo.png" alt="pic"></a>
                <h2 class="heading-two">Massage Therapy</h2>
              </div>

              <div class="mobile-section">
                <h1 id="welcome">Welcome</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>

              <a href="pricing"><button class="book-btn">Book an appointment</button></a>
              <div class="home-border">
              </div>
            </div>

          <div class="home-contact">
            <div class="contact-icons">
              <h2>Contact</h2>
              <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
              <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
              <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
            </div>
          </div>
        </div>

        <div class="card-section">
          <ul class="home-cards">
            <li class="card-one">
              <h2>Swedish Massage</h2>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!</p>
              <img class="card-img" src="assets/swedish.jpeg" alt="Swedish massage">
              <a href="pricing"><button class="card-btn">Book appointment</button></a>
            </li>
            <li class="card-two">
              <h2>Deep Tissue</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</p>
              <img class="card-img" src="assets/deep-tissue.jpeg" alt="Deep tissue massage">
              <a href="pricing"><button class="card-btn">Book appointment</button></a>
            </li>
            <li class="card-three">
              <h2>Sports Massage</h2>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!</p>
              <img class="card-img" src="assets/sports-massage.jpeg" alt="Sports massage">
              <a href="pricing"><button class="card-btn">Book appointment</button></a>
            </li>
            <li id="card-four">
              <div class="card-four-content">
                <h2>Contact</h2>
                <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
                <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
                <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section>

    <footer>
      <div class="footer">
          <hr class="linebreak" />
        <div class="footer-contact">
          <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
          <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
          <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
        </div>

        <ul class="footer-links">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="about">About</a>
          </li>
          <li>
            <a href="pricing">Pricing</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>

      </div>
        <div class="copyright">
          <small>© 2020 underlyinglight.com All Rights Reserved</small>
        </div>
    </footer>

  </div>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
