<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <!-- <link href="./resources/css/index.css" type="text/css" rel="stylesheet"> -->
  <title>Pricing</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="background" id="pricing-background">
      <header>
      </header>
      <nav id="page-nav">
        <a href="/"><img class="page-logo" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="white-plant"><img class="white-plant" src="assets/white-plant.png" alt="pic"></a>
        <a href="/" class="name-logo"><h2 class="page-name-logo">Underlying Light</h2></a>
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing" class="active">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
        <section class="section" id="pricing-section">
          <div class="accordion">
            <div class="row">
              <div class="col">
                <div id="tabs">
                  <div class="tab-heading">
                    <label style="font-weight: 400;">Services</label>
                  </div>
                  <div class="tab" id="tab1">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">Swedish Massage</label>
                    <div class="tab-content">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" id="chck2">
                    <label class="tab-label" for="chck2">Deep Tissue</label>
                    <div class="tab-content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" id="last-tab" for="chck3">Sports Massage</label>
                    <div class="tab-content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pricing">
            <h1 id="pages-heading">Pricing</h1>
            <div class="pricing-p">
              <div class="pricing-opt">
                <h2>Swedish Massage</h2>
                <div class="pricing-time">
                  <div class="pricing-time-opt">
                    <p>60 min.</p>
                    <p id="price">$65</p>
                  </div>
                  <div class="pricing-time-opt">
                    <p>90 min.</p>
                    <p id="price">$85</p>
                  </div>
                </div>
              </div>
              <div class="pricing-opt">
                <h2>Deep Tissue</h2>
               <div class="pricing-time">
                  <div class="pricing-time-opt">
                    <p>60 min.</p>
                    <p id="price">$75</p>
                  </div>
                  <div class="pricing-time-opt">
                    <p>90 min.</p>
                    <p id="price">$95</p>
                  </div>
                </div>
              </div>
              <div class="pricing-opt" id="pricing-opt3">
                <h2>Sports Massage</h2>
               <div class="pricing-time">
                  <div class="pricing-time-opt">
                    <p>60 min.</p>
                    <p id="price">$85</p>
                  </div>
                  <div class="pricing-time-opt">
                    <p>90 min.</p>
                    <p id="price">$105</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
      <div class="footer">
          <hr class="linebreak" />
        <div class="footer-contact">
          <!-- <h3>Contact Us</h3> -->
          <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
          <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
          <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
        </div>

        <ul class="footer-links">
          <!-- <h3>Pages</h3> -->
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="about">About</a>
          </li>
          <li>
            <a href="pricing">Pricing</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>

      </div>
        <div class="copyright">
          <small>© 2020 underlyinglight.com All Rights Reserved</small>
        </div>
    </footer>

  </div>

  <script src="assets/pages.js/nav.js"></script>
  <script src="assets/pages.js/accordion.js"></script>
</body>
</html>
