<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <title>Pricing</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="pricing-background">
      <nav class="page-nav">
        <a href="/">
          <%= image_tag("white-plant.png", alt: "white plant logo", class: "page-logo") %>
          <!-- <img class="page-logo" src="assets/white-plant.png" alt="pic"> -->
        </a>
        <a href="/" class="white-plant">
          <%= image_tag("white-plant.png", alt: "white plant logo", class: "page-logo") %>
          <!-- <img class="white-plant" src="assets/white-plant.png" alt="pic"> -->
        </a>
        <a href="/" class="name-logo"><h2 class="name-logo">Underlying Light</h2></a>
        <div class="stroke">
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing" class="active">Services</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        </div>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>

      <header class="pricing-banner">
        <h1 class="page-header">Services</h1>
      </header>

        <section class="pricing-section">


          <div class="pricing">
            <h1>Pricing</h1>
            <div class="pricing-options">
              <div class="pricing-opt">
                <h2>Swedish Massage</h2>
                <div class="pricing-time">
                  <p>60 min.</p>
                  <p class="price">$65</p>
                </div>
                <div class="pricing-time">
                  <p>90 min.</p>
                  <p class="price">$85</p>
                </div>
              </div>
              <div class="pricing-opt" id="pricing-opt-2">
                <h2>Deep Tissue</h2>
                <div class="pricing-time">
                  <p>60 min.</p>
                  <p class="price">$75</p>
                </div>
                <div class="pricing-time">
                  <p>90 min.</p>
                  <p class="price">$95</p>
                </div>
              </div>
              <div class="pricing-opt">
                <h2>Sports Massage</h2>
                <div class="pricing-time">
                  <p>60 min.</p>
                  <p class="price">$85</p>
                </div>
                <div class="pricing-time">
                  <p>90 min.</p>
                  <p class="price">$105</p>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion">
            <div id="tabs">
<!--               <div class="tab-heading">
                <label style="font-weight: 400;">Services</label>
              </div> -->
              <div class="tab" id="tab1">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">Swedish Massage</label>
                <div class="tab-content">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">Deep Tissue</label>
                <div class="tab-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" id="last-tab" for="chck3">Sports Massage</label>
                <div class="tab-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                </div>
              </div>
            </div>
          </div>

          <div class="pricing-images">
            <div class="pricing-image image1"></div>
            <div class="pricing-image image2"></div>
            <div class="pricing-image image3"></div>
            <div class="pricing-image image4"></div>
          </div>

        </section>

        <section class="pre-footer">
        </section>

        <section class="callout-section">
        <div class="callout-container">
          <div class="callout-body">
            <h2>
              Ut sem viverra aliquet
              <span>malesuada fames ac turpis egestas.</span>
            </h2>
            <button>
              Contact Us
            </button>
          </div>
          <div class="callout-cards">
            <div class="callout-card" id="callout-card-1">
            </div>
            <div class="callout-card" id="callout-card-2">
            </div>
            <div class="callout-card" id="callout-card-3">
            </div>
            <div class="callout-card" id="callout-card-4">
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="main-footer-content">

          <div class="footer-logo">
              <a href="/">
                <%= image_tag("logo.png", alt: "logo") %>
                <!-- <img src="assets/logo.png" alt="pic"> -->
              </a>
              <!-- <p>Nulla pellentesque dignissim enim sit.</p> -->
          </div>

          <div class="footer-links">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="pricing">Our Services</a>
              </li>
              <li>
                <a href="contact">Contact Us</a>
              </li>
 <!--              <li class="privacy-policy">
                <a href="#">Privacy Policy | Terms of Use</a>
              </li> -->
            </ul>
          </div>

          <div class="vertical-line">
          </div>
        </div>

        <div class="footer-copyright">
          <p>© 2020 underlyinglight.com All Rights Reserved</p>
        </div>
      </footer>
      </div>
    </div>

  <%#= javascript_include_tag "nav.js" %>
  <%#= javascript_include_tag "accordion.js" %>
  <script src="assets/page.js"></script>
  <script src="assets/nav.js"></script>
  <script src="assets/accordion.js"></script>
</body>
</html>
