<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <!-- <link href="./resources/css/index.css" type="text/css" rel="stylesheet"> -->
  <title>Pricing</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="background">
      <header>
      </header>
      <nav id="page-nav">
        <a href="/"><img class="page-logo" src="assets/white-plant.png" alt="pic"></a>
          <ul id="page-nav-links" class="nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
            <li>
              <a href="pricing" id="pricing-active">Pricing</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        <div id="page-burger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
        <section id="pricing-section">
          <h1 id="pages-heading">Pricing</h1>
          <div id="pricing-p">
            <div class="pricing-opt">
              <h2>Swedish Massage</h2>
              <p>$65</p>
            </div>
            <div class="pricing-opt">
              <h2>Deep Tissue</h2>
              <p>$75</p>
            </div>
            <div class="pricing-opt">
              <h2>Sports Massage</h2>
              <p>$85</p>
            </div>
            <hr />
          </div>
        </section>
      </div>


  <div class="row">
    <div class="col">
      <div id="tabs">
        <div class="tab-heading">
          <label style="font-weight: 400;">Info</label>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck1">
          <label class="tab-label" for="chck1">Swedish Massage</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2">Deep Tissue</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">Sports Massage</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
  </footer>

  <script src="assets/pages.js/nav.js"></script>
</body>
</html>
