$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.9);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(139, 157, 163, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

section.offset-section {
  height: auto;
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(27, 35, 37, 0.7), rgba(20, 20, 20, 0.7)), asset-url('massage2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  padding: $base-spacing $base-spacing;
  @include md-up {
    padding: $base-spacing*2 $base-spacing*2;
  }

  .offset-container {
    background-color: transparent;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    @include lg-up {
      flex-direction: row;
      text-align: left;
      width: 85%;
    }

    .offset-body {
      width: 100%;
      align-self: flex-start;
      padding: 0;
      @include md-up {
        padding: 0 $base-spacing;
      }
      @include lg-up {
        width: 55%;
      }

      h2 {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        text-transform: capitalize;

        span {
          font-size: 1.9em;
          font-weight: 200;
        }
      }

      p {
        margin-top: $base-spacing;
        line-height: 1.4em;
      }

      button {
        margin-top: $base-spacing*2;
        width: auto;
        padding: 0 $base-spacing;
        background-color: $color-light;
        color: black;
        @include md-up {

        }
      }
    }

    button:hover {
      background-color: darken($color-light, 10%);
      cursor: pointer;
    }

    .offset-image {
      width: 80%;
      margin-bottom: $base-spacing;
      @include md-up {
        width: 60%;
      }
      @include lg-up {
        width: 43%;
      }

      img {
        width: 100%;
      }
    }
  }
}
