$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.9);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(60, 70, 73, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

section.testimonial {
  height: auto;
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: $color-greyish;
  color: white;
  padding: $base-spacing*1.5 $base-spacing/2;
  @include md-up {
    padding: $base-spacing*1.5 $base-spacing $base-spacing*2.5;
    max-width: unset;
  }
  @include lg-up {
    padding: $base-spacing*3 $base-spacing;
  }

  h2 {
    margin: 0 auto $base-spacing/2;
    font-size: 1.5em;
    max-width: 1550px;
    @include lg-up {
      font-size: 2em;
    }
  }

  .testimonial-cards {
    display: flex;
    flex-direction: column;
    max-width: 1550px;
    margin: auto;
    @include md-up {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .testimonial-card {
      padding: $base-spacing 0;
      &:last-of-type {
        padding-bottom: 0;
      }
      @include md-up {
        width: 46%;
      }
      @include lg-up {
        width: 30%;
      }
    }

    .testimonial-card:before {
      height: 4px;
      width: 7em;
      margin-bottom: $base-spacing;
      background-color: $color-light;
      content: "";
      display: block;
    }

    h3 {
      font-weight: bold;
      margin-top: $base-spacing/2.5;
      letter-spacing: 1px;
    }
  }
}















