$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.825);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-light-internal: rgba(255,255,255,0.8);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(139, 157, 163, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.about-banner {
  height: 50vh;
  color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(18, 18, 18, 0.15), rgba(42, 54, 59, 0.6)), asset-url('about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h1 {
    font-weight: bold;
    font-size: 3em;
  }
}

.about-background {
  background-color: $color-light-internal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.page-logo {
  display: flex;
  justify-content: center;
  height: 7em;
  margin: 0 auto;
  padding-top: 1em;
  img {
    height: 9em;
  }
  @include md-up {
    display: none;
  }
}

.page-nav {
  height: auto;
  width: 100%;
  padding-bottom: $base-spacing/1.5;
  background-color: $color-solid-dark;
  @include md-up {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: $base-spacing/2;
  }
  @include lg-up {
    // height: 5em;
  }
}

#page-burger {
  margin-top: -1.2em;
  position: absolute;
  right: 0;
}

section.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include md-up {
    flex-direction: row;
  }

  .about-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    order: 1;

    @include md-up {
      order: unset;
      width: 70%;
      margin-top: -$base-spacing;
      border-top-left-radius: 4px;
      overflow: hidden;
    }

    .about-blurb {
      height: auto;
      padding: $base-spacing $base-spacing;
      text-align: center;
      background-color: $color-greyish;
      color: white;
      font-size: .9em;
      h2 {
        span {
          font-size: 1.25em;
        }
      }
    }
    .about {
      border-radius: 4px;
      text-align: center;
      background-color: rgba(250, 250, 250, 1);
      width: 100%;
      color: #333;
      padding: $base-spacing*2.5 $base-spacing $base-spacing*2;
      h1 {
        font-weight: 400;
        font-size: 1.75em;
      }
      p {
        padding: $base-spacing*1.5 0 0;
        max-width: 700px;
        margin: auto;
        line-height: 1.5em;
      }
      @include md-up {
        padding: $base-spacing*2.5 $base-spacing $base-spacing*4;
        border-top-right-radius: 0px;
      }
    }
  }

  .about-aside {
    width: 100%;
    padding: $base-spacing;
    display: flex;
    flex-direction: column;
    background-color: darken($color-greyish, 15%);
    color: white;
    line-height: 1.5;
    order: 2;

    @include md-up {
      max-width: 450px;
      order: unset;
      width: 30%;
    }

    .aside-image {
      background-image: linear-gradient(rgba(18, 18, 18, 0.15), rgba(42, 54, 59, 0.6)), asset-url('highlight2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 4px;
      margin-bottom: $base-spacing;
      width: 100%;
      height: 200px;
    }

    .about-contact {
      border-top: 2px solid $color-light;

      .contact-content {
        padding: $base-spacing*1.5 0 0;
      }
      h3 {
        margin-bottom: $base-spacing/2;
        font-weight: bold;
      }
    }

    .about-services {
      position: relative;
      border-bottom: 2px solid $color-light;

      .services-content {
        padding: $base-spacing 0 $base-spacing*1.5;

        .service {
          display: flex;
          justify-content: space-between;
          max-width: 300px;
        }
      }
      h3 {
        margin-bottom: $base-spacing/2;
        font-weight: bold;
      }
    }
  }
}

.about-image-banner {
  height: 175px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 54, 59, 0.2), rgba(42, 54, 59, 0.5)), asset-url('crystal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section.about-callout {
  background-color: darken($color-greyish, 15%) !important;
}

































