* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.page-logo {
  height: 5em;
  position: absolute;
  margin-left: 10.2em;
  margin-top: 1em;
}

#page-nav {
  height: 7em;
}

#about-active {
  color: #ababab;
}

#page-nav-links {
  margin-top: -4em;
  height: 39em;
}

#page-burger {
  margin-top: 4.7em;
}

#about-section {
  height: 35em;
  width: 22em;
  margin-top: 2em;
  margin-left: 2em;
  background-color: rgba(255,255,255,0.56);
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  // z-index: -1;
}

#pages-heading {
  margin-top: 2em;
  font-weight: 400;
}

#about-p {
  width: 18em;
  font-size: 1.1rem;
  text-align: center;
  // position: absolute;
  align-self: center;
  margin-top: 2em;
}


// @media screen and (max-width: 768px) {

// }












