$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.825);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-light-internal: rgba(255,255,255,0.8);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(139, 157, 163, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.about-background {
  background-image: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.4)), url(massage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.page-logo {
  display: flex;
  justify-content: center;
  height: 7em;
  margin: 0 auto;
  padding-top: 1em;
  img {
    height: 9em;
  }
  @include md-up {
    display: none;
  }
}

.white-plant {
  display: none;
}

.name-logo {
  display: none;
}

.page-nav {
  height: 8em;
  z-index: 10;
  background-color: $color-solid-dark;
  @include md-up {
    display: flex;
    height: 4em;
  }
  @include lg-up {
    height: 5em;
  }
}

#page-burger {
  margin-top: -1.2em;
  position: absolute;
  right: 0;
}

section.about-section {
  padding: $base-spacing*2 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1250px;
  margin: auto;

  @include lg-up {
    flex-direction: row;
  }

  .about {
    border-radius: 4px;
    text-align: center;
    margin: 0 $base-spacing 0 auto;
    background-color: $color-light-internal;
    width: 100%;
    padding: $base-spacing*3 0 $base-spacing*2;
    h1 {
      font-weight: 400;
    }
    p {
      padding: $base-spacing $base-spacing 0;
      max-width: 700px;
      margin: auto;
      line-height: 1.5em;
    }
  }

  .about-aside {
    padding: $base-spacing*1.5 $base-spacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darken($color-greyish, 15%);
    color: white;
    line-height: 1.5;

    .about-contact {
      border-top: 2px solid $color-light;

      .contact-content {
        padding: $base-spacing*1.5 0 0;
      }
      h3 {
        margin-bottom: $base-spacing/2;
        font-weight: bold;
      }
    }

    .about-services {
      position: relative;
      border-bottom: 2px solid $color-light;

      .services-content {
        padding: $base-spacing 0 $base-spacing*1.5;

        .service {
          display: flex;
          justify-content: space-between;
          max-width: 300px;
        }
      }
      h3 {
        margin-bottom: $base-spacing/2;
        font-weight: bold;
      }
    }
  }
}

































