$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.825);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-light-internal: rgba(255,255,255,0.8);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(139, 157, 163, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

.contact-wrapper {
  display: flex;
  margin: auto;
  max-width: 1500px;
  padding: $base-spacing*2 $base-spacing $base-spacing;
}

section.contact-section {
  background-color: $color-greyish;
  width: 100%;
  color: white;
  border-radius: 4px;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  padding: $base-spacing*1.5 $base-spacing $base-spacing;
  margin-right: $base-spacing;

  .contact-info {
    width: 60%;

    h1 {
      font-weight: bold;
    }

    .contact {
      padding: $base-spacing 0;
      line-height: 2;
    }
  }

  .contact-hours {
    width: 40%;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: bold;
    }

    .hours {
      padding: $base-spacing 0 0;

      .hour {
        display: flex;
        justify-content: space-between;
        line-height: 1.5;
      }
    }
  }
}

#map {
  height: 500px;
  width: 100%;
  border-radius: 4px;
  margin: auto;
}


.form {
  // width: 50%;
  margin: auto;
  max-width: 1500px;
  height: auto;
  background: $color-light-internal;
  border-radius:4px;
  box-shadow:0 0 40px -10px #000;
  padding: $base-spacing;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
    h2 {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color: #333;
    border-bottom:2px solid #333;
  }
  .form-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  p {
    width: 48%;
    input {
      opacity: 1;
      position: relative;
      z-index: 10;
      width:100%;
      padding:10px;
      box-sizing:border-box;
      background:none;
      background-color: rgba(255,255,255,0.3);
      outline:none;
      margin-top: $base-spacing/2;
      resize:none;
      border:0;
      font-family:'Montserrat',sans-serif;
      transition:all .3s;
    }
    input:focus {
      background-color: darken($color-light-internal, 20%);
    }
    input:hover {
      background-color: darken($color-light-internal, 20%);
    }
  }
    p:before {
      content:attr(type);
      display:block;
      margin:28px 0 0;
      font-size:14px;
      color: #333;
    }
  }

  #email {
    width: 60%;
  }

  #message {
    width: 100%;

    input {
      padding-bottom: 4em;
    }
  }

  button {
    float:right;
    padding: $base-spacing/3 $base-spacing/1.5;
    margin: $base-spacing 0 0;
    border-radius: 4px;
    font-family:'Montserrat',sans-serif;
    border:1px solid #333;
    background:0;
    color: #333;
    cursor:pointer;
    transition:all .3s;
  }
  button:hover {
    background: #333;
    color:#fff;
  }
}







