#contact-active {
  color: #ababab;
}

#contact-icons {
  height: 9em;
  margin-bottom: 2em;
  margin-top: 1em;
}

#contact-icons p {
  margin-top: 1em;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
}

#contact-section {
  height: 17.5em;
  width: 22em;
  margin-top: 2em;
  margin-left: 2em;
  background-color: rgba(255,255,255,0.56);
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  border-radius: 4px;
}

#map {
  // margin-top: 1em;
  margin-left: 2em;
  width: 22em;
  height: 17.5em;
  background-color: gray;
  // z-index: -1;
}

@media screen and (min-width: 768px) {
}
