#contact-active {
  border-bottom: 1px solid white;
  padding-bottom: .5em;
}

#contact-icons {
  height: 9em;
  margin-bottom: 2em;
  margin-top: 1em;
}

#contact-icons p {
  margin-top: 1em;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
}

#contact-section {
  height: 35em;
  width: 22em;
  margin-top: 2em;
  margin-left: 2em;
  background-color: rgba(255,255,255,0.56);
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  border-radius: 4px;
}

#contact-heading {
  margin-top: 2em;
  font-weight: 400;
}

#map {
  width: 22em;
  height: 18.2em;
  background-color: gray;
  border-radius: 4px;
  // z-index: -1;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  #contact-section {
    width: 45em;
    height: 50em;
    margin: 0 auto;
    margin-top: 4em;
  }

  #contact-icons {
    margin-top: 2em;
    background-color: transparent;
  }

  #contact-heading {
    margin-top: 2em;
    font-weight: 400;
  }

  #map {
    width: 42em;
    height: 30em;
    margin-top: 4em;
    margin-bottom: 1.5em;
    align-self: center;
  }
}
