$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.825);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-light-internal: rgba(255,255,255,0.8);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(139, 157, 163, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

button {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  position: relative;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: $color-greyish;
}

.home {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(180, 190, 194, 0.1), rgba(18, 18, 18, 0.3)), url(massage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include lg-up {
    height: 160vh;
  }
}

.mobile-home-section {
  height: 48vh;
  padding-bottom: 1em;
  background-color: $color-mid-light;
  @include md-up {
    background-color: transparent;
    margin-bottom: $base-spacing*4;
  }
  @include md-up {
    margin-bottom: $base-spacing;
  }
}

.mobile-section {
  text-align: -webkit-center;
  @include md-up() {
    display: none;
  }
}

.home-section {
  margin: 0 auto;
  margin-top: $base-spacing/2;
  display: flex;
  flex-direction: column;

  @include md-up() {
    width: 100%;
    margin-left: 0em;
    margin-top: 0;
    background-color: transparent;
    justify-content: normal;
  }
}

.home-main-section {
  height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
  }
  p {
    width: 96%;
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0em 1em;
  }
  @include md-up() {
    height: 100%;
    margin: 0;
  }
  @include lg-up() {
    height: 41em;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.home-nav {
  height: 19vh;
  width: 100%;
  background-color: $color-solid-dark;
  @include md-up() {
    display: flex;
    justify-content: center;
    height: 8vh;
  }
  @include lg-up() {
    // height: 5em;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 850px;
  height: 45vh;
  margin-top: $base-spacing/2;
  margin-right: $base-spacing;
  position: absolute;
  background-color: $color-solid-dark;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(200%);
  transition: transform 0.5s ease-in;
  li {
    list-style-type: none;
    opacity: 0;
    margin-right: $base-spacing*1.5;
  }
  a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.25em;
  }
  @include md-up() {
    background-color: $color-solid-dark;
    margin-top: 0;
    height: 100%;
    align-items: center;
    flex-direction: row;
    position: inherit;
    transform: translateX(0%);
    background-color: transparent;
    li {
      opacity: 1;
      padding-left: $base-spacing/4;
      transform: scale(1);
    }
    a {
      font-size: 1em;
      padding-bottom: .5em;
    }
  }
  @include lg-up() {
    width: 60%;
    li {
      padding-left: 8%;
      transition: .1s ease-in-out;
    }
  }
}

.active {
  border-bottom: 1px solid $color-light;
  padding-bottom: .5em;
  color: black;
}

.white-logo {
  display: flex;
  justify-content: center;
  img {
    margin-top: 1.2em;
    height: 9em;
  }
  @include md-up() {
    display: none;
  }
}

.name-logo {
  display: none;
  @include md-up() {
    font-family: 'Averia Serif Libre';
    color: white;
    margin-left: -.55em;
    margin-right: auto;
    display: flex;
    width: 16em;
    align-self: center;
    text-decoration: none;
  }
}

.white-plant {
  display: none;
  @include md-up() {
    display: block;
    height: 2.8em;
    align-self: center;
    margin-left: 6%;
    margin-bottom: .7em;
  }
}

.laptop-logo {
  display: none;
  @include md-up() {
    display: block;
    height: 12em;
    margin-left: 2em;
  }
  @include lg-up() {
    display: block;
    height: 16em;
    margin-left: 1em;
  }
}

.heading-two {
  display: none;
}

.burger {
  display: block;
  text-align: -webkit-right;
  margin-right: 1em;
  cursor: pointer;
  @include md-up() {
    display: none;
  }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.home-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 11em;
  @include md-up() {
    display: none;
  }
}

.home-border {
  margin-top: 2em;
  margin-bottom: .5em;
  width: 80%;
  max-width: 20em;
  border-bottom: 1px solid black;
  @include md-up() {
    display: none;
  }
}

.book-btn {
  background-color: $color-solid-dark;
  color: white;
  border: transparent;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 400;
  height: 3em;
  width: 100%;
  padding: 0 1em;
  cursor: pointer;
  text-transform: capitalize;
  @include md-up() {
    margin-top: 1.5em;
    color: black;
    background-color: $color-light;
    border-color: transparent;
    font-weight: 400;
    letter-spacing: 2px;
    width: 16em;
    height: 2.8em;
    transform: scale(1);
    transition: .1s ease-in-out;
  }
}

.contact-icons {
  p {
    margin-bottom: 1em;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
  }
  h2 {
    display: none;
  }
  @include md-up() {
    background-color: $color-mid-light;
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      display: block;
      font-weight: 400;
      margin-bottom: 2em;
      margin-top: 2em;
    }
  }
  @include lg-up() {
    background-color: $color-mid-light;
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      display: block;
      font-weight: 400;
      margin-bottom: 2em;
      margin-top: 2em;
    }
  }
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5em;
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  li {
    padding: $base-spacing/2;
    border-radius: 4px;
    list-style-type: none;
    color: white;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-solid-dark;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 1em;
  }
  p {
    width: 80%;
    font-weight: 300;
    font-size: .95em;
    margin-left: 1em;
    margin-right: 1em;
  }
  @include md-up() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 0 $base-spacing;
    width: 100%;
    text-align: center;
    p {
      width: 80%;
    }
  }
  @include lg-up() {
    padding: 0;
    margin-top: 11em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1440px) {
    padding: $base-spacing;
  }
}

.home-cards {
  display: grid;
}

#card-four {
  display: none;
  @include md-up() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
    height: inherit;
    text-align: center;
    h2 {
      margin-bottom: 1em;
      margin-top: -1em;
    }
    p {
      line-height: 2em;
      width: 100%;
      margin: 0em;
    }
  }
  @include lg-up() {
    display: none;
  }
}

.card-img {
  width: 80%;
  border-radius: 4px;
  margin-top: .25em;
  margin-bottom: .25em;
  @include md-up() {
    border-radius: 4px;
    margin-top: .25em;
    margin-bottom: .25em;
  }
  @include lg-up {
    width: 75%;
  }
  @media (min-width: 1440px) {
    width: 60%;
  }
}

.card-btn {
  border-radius: 4px;
  border-color: transparent;
  background-color: $color-light;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1em;
  height: 3em;
  width: 16em;
  transform: scale(1);
  transition: .1s ease-in-out;
  @include md-up() {
    border-radius: 4px;
    border-color: transparent;
    background-color: $color-light;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1em;
    height: 3em;
    width: 14em;
    transform: scale(1);
    transition: .1s ease-in-out;
  }
}

.card-btn:hover {
  background-color: darken($color-light, 10%);
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links a:hover {
  @include md-up() {
    border-bottom: 1px solid $color-light;
  }
}

.background {
  @include md-up() {
    height: 76em;
  }
}

.heading-two {
  @include md-up() {
    width: 20em;
    height: 2em;
    border-bottom: 1.5px solid $color-light;
    text-align: center;
    display: block;
    font-family: 'Averia Serif Libre';
    margin-top: .25em;
    font-size: 1.25em;
    letter-spacing: 3px;
    color: white;
  }
  @include lg-up() {
    width: 24em;
    height: 2.5em;
  }
}

.book-btn:hover {
  @include md-up() {
    background-color: darken($color-light, 10%);
  }
}

.linebreak {
  @include md-up() {
    display: none;
  }
}

.home-linebreak {
  @include md-up() {
    width: 36%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    border: .5px solid $color-light;
  }
}

.pre-footer {
  height: 30vh;
  background-image: linear-gradient(rgba(213, 229, 234, 0.5), rgba(139, 157, 163, 0.9)), url(prefooter.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-section {
  @include lg-up() {
    margin-left: 3%;
    margin-right: 3%;
  }
}

footer.footer {
  background-color: $color-solid-dark;
  color: white;
  height: auto;

  .main-footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: $base-spacing $base-spacing 0;
    font-size: 14px;

    .footer-logo {
      width: 80%;
      text-align: center;
      margin-bottom: $base-spacing/1.5;
      // padding-bottom: $base-spacing/2;
      // border-bottom: 2px solid white;
      img {
        height: 110px;
      }
    }

    // .footer-contact {
    //   width: 65%;
    //   padding-left: $base-spacing*1.5;
    // }

    .footer-links {
      width: 100%;
      text-align: center;
      line-height: 1.75;
      ul {
        li {
          list-style-type: none;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
      .privacy-policy {
        font-size: 12px;
        margin: $base-spacing 0 $base-spacing/5;
      }
    }
  }

    .footer-copyright {
      font-size: 12px;
      text-align: center;
      padding-bottom: $base-spacing/2;
    }
}












































