// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-size: use rem
// padding & margin: use em
// widths: em or %
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

section {
  height: 31em;
  width: 22em;
  margin-top: 2em;
  margin-left: 2em;
  background-color: rgba(255,255,255,0.56);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 6em;
  height: 11em;
  background-color: rgba(0,0,0,0.65);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  position: absolute;
  right: 0px;
  top: 11em;
  background-color: rgba(0,0,0,0.65);
  height: 35em;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  li {
    list-style-type: none;
    opacity: 0;
  }
  a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-size: 1.1em;
    font-weight: 400;
  }
}

#home-active {
  color: #a5d1cf;
}

.logo {
  height: 9.2em;
  position: absolute;
  margin-left: 4.1em;
  margin-top: 1em;
}

.name-logo {
  display: none;
}

#white-plant {
  display: none;
}

#laptop-logo {
  display: none;
}

.heading-two {
  display: none;
}

.burger {
  display: block;
  margin-left: 20em;
  margin-top: 8.45em;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.main-section {
  margin-top: 2em;
  height: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
  }
  p {
    height: 4em;
    width: 18em;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
  }
}

.contact-icons {
  height: 10em;
  margin-bottom: 2.3em;
  p {
    margin-top: 1em;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
  }
  h2 {
    display: none;
  }
}


.linebreak {
  width: 21em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .5em;
}

.active, .btn:hover {
  color: black;
}

.container {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.background {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.4)), url(massage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.nav-active {
  transform: translateX(0%);
}

.book-btn {
  background-color: rgba(0,0,0,0.79);
  color: white;
  border: thin solid rgba(0,0,0,0.79);
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 400;
  height: 3em;
  width: 16em;
  cursor: pointer;
}

.home-cards {
  display: none;
}

// @media screen and (min-width:768px) {
//   .nav-links {

//   }
// }
  .nav-active {
  transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

footer {
  display: none;
}


// laptop screen
@media screen and (min-width:1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
  }

  section {
    width: 100%;
    height: 70em;
    margin-left: 0em;
    margin-top: 0;
    background-color: transparent;
    justify-content: normal;
  }

  .background {
    background-image: linear-gradient(rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.0), rgba(26, 26, 26, 0.3)), url(massage.jpg);
  }

  .main-section {
    height: 32em;
    margin: 0;
    margin-top: 9em;
  }

  .burger {
    display: none;
  }

  nav {
    display: flex;
    height: 4em;
    background-color: rgba(0,0,0,0.56);
  }

  .nav-links {
    width: 100%;
    height: 4em;
    // font-size: .9em;
    margin-right: 7em;
    // padding-top: .5em;
    align-self: center;
    justify-content: flex-end;
    flex-direction: row;
    position: inherit;
    transform: translateX(0%);
    background-color: transparent;
    li {
      opacity: 1;
      padding-left: 9em;
    }
    a {
      font-size: 1em;
    }
  }

  .nav-links a:hover {
    color: #a5d1cf;
  }

  .background {
    height: 76em;
  }

  #white-logo {
    display: none;
  }

  #white-plant {
    display: block;
    height: 2.8em;
    align-self: center;
    margin-left: 3em;
    margin-bottom: .7em;
  }

  .name-logo {
    font-family: 'Averia Serif Libre', cursive;
    color: white;
    margin-left: -.7em;
    display: flex;
    width: 16em;
    align-self: center;
  }

  #laptop-logo {
    display: block;
    height: 12em;
  }

  .heading-two {
    display: block;
    font-family: 'Averia Serif Libre', cursive;
    margin-top: .25em;
    font-size: 1.25em;
    letter-spacing: 3px;
    color: white;
  }

  .book-btn {
    color: black;
    background-color: rgba(255,255,255,0.99);
    font-weight: 300;
    border-color: transparent;
    letter-spacing: 2px;
    width: 16em;
    height: 2.8em;
  }

  .book-btn:hover {
    background-color: rgba(255,255,255,0.9);
  }

  .home-section {
    display: none;
  }

  .linebreak {
    display: none;
  }

  .home-linebreak {
    width: 36%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    border: .5px solid white;
  }

  .contact-icons {
    background-color: rgba(255,255,255,0.56);
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      display: block;
      font-weight: 400;
      margin-bottom: 2em;
      margin-top: 2em;
    }
  }

  .home-cards {
    display: block;
    height: 34em;
    margin-top: 9em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    li {
      border-radius: 4px;
      list-style-type: none;
      color: white;
      width: 28em;
      height: 30em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: rgba(0,0,0,0.65);
    }
    h2 {
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 3px;
      margin-top: 1em;
    }
    p {
      font-weight: 300;
      font-size: .95em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .card-img {
    width: 22em;
    border-radius: 4px;
  }

  .card-btn {
    border-radius: 4px;
    border-color: transparent;
    // background-color: #c8e6e1;
    background-color: rgba(255,255,255,0.98);
    letter-spacing: 2px;
    margin-bottom: .5em;
    font-weight: 400;
    font-size: 1em;
    height: 3em;
    width: 16em;
  }

  .card-btn:hover {
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
  }

  .home-contact {
    display: none;
  }

  footer {
    // background-image: linear-gradient(rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.0), rgba(26, 26, 26, 0.3)), url(massage.jpg);
    background-color: rgba(0,0,0,0.65);
    height: 14em;
    display: block;
    color: white;
  }

  .footer {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 26em;
  }

  .footer-contact {
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    // text-align: center;
  }

  .footer-links {
    line-height: 1.5em;
    li {
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }

  .footer-links a:hover {
    color: #a5d1cf;
  }

  .copyright {
    padding-top: 2em;
    margin-left: 70%;
    position: absolute;
  }
}
































