$base-spacing: 2em;
$color-dark: rgba(11, 11, 11, 0.825);
$color-solid-dark: rgba(20, 20, 20, 1);
$color-light: rgba(255,255,255,0.9);
$color-light-internal: rgba(255,255,255,0.8);
$color-mid-light: rgba(255,255,255,0.55);
$color-greyish: rgba(139, 157, 163, 1);

@mixin md-up {
  @media (min-width: 768px) { @content; }
}

@mixin lg-up {
  @media (min-width: 1024px) { @content; }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

section.pricing-section {
  height: 100%;
  width: 100%;
  display: flex;
  padding: $base-spacing*2;
  margin: 0;

    @include md-up {
      background-color: transparent;
      width: 90%;
      margin: 0 auto;
      margin-top: 2em;
      margin-bottom: .5em;
      display: flex;
      flex-direction: row;
    }
    @include lg-up {
      width: 100%;
      max-width: 1500px;
    }

  .accordion {
    width: 35%;
    color: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .pricing {
    width: 65%;
    margin-left: $base-spacing;
    border-radius: 4px;
    background-color: $color-light-internal;
    padding: $base-spacing*3 $base-spacing;

    h1 {
      color: black;
      width: 100%;
      margin-bottom: $base-spacing/1.5;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }

    .pricing-options {
      display: flex;
      justify-content: space-evenly;

      #pricing-opt-2 {
        border-left: 1px solid $color-dark;
        border-right: 1px solid $color-dark;
        padding: 0 $base-spacing;
      }

      .pricing-opt {
        h2 {
          margin-bottom: $base-spacing/1.5;
        }

        .pricing-time {
          display: flex;
          justify-content: space-between;
          margin-bottom: $base-spacing/1.5;
        }
      }
    }
  }
}

  // .pricing-image {
  //   width: 100%;
  //   max-width: 1500px;
  //   margin: auto;
  //   height: 200px;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-image: linear-gradient(rgba(180, 190, 194, 0.1), rgba(18, 18, 18, 0.3)), url(oil.jpg);
  // }





.tab-heading {
  width: 100%;
  font-size: 30px;
  padding-top: $base-spacing*1.5;
  text-align: center;
  background-color: $color-dark;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}

.tab-label {
  background-color: $color-dark;
  padding: $base-spacing*3 0;
}

.tab-content {
  background-color: $color-dark;
}

.tab {
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: $base-spacing*1.25;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .2s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    transition: all .2s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: .75em;
    cursor: pointer;
    &:hover {
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100em;
    padding: 3em 1em;
  }
}

  .tab-label:hover {
    background-color: rgba(0,0,0,0.75);
  }









