#pricing-active {
  color: #ababab;
}

#pricing-section {
  height: 15em;
  width: 22em;
  margin-top: 2em;
  margin-left: 2em;
  background-color: rgba(255,255,255,0.56);
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  border-radius: 4px;
}

#pricing-p {
  width: 18em;
  font-size: 1.1rem;
  text-align: center;
  // position: absolute;
  align-self: center;
  margin-top: 1em;
  line-height: 2em;
  p {
    display: flex;
  }
}

.tab-heading {
  background-color: rgba(0,0,0,0.65);
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  text-align: center;
  line-height: 3em;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}

#tabs {
  border-radius: 4px;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
  margin-right: 2em;
  margin-left: 1em;
  margin-top: -20em;
}

.tab {
  background-color: rgba(0,0,0,0.65);
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      // background-color: rgba(0,0,0,0.65);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .2s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    // background-color: rgba(0,0,0,0.65);
    transition: all .2s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: .75em;
    // background-color: rgba(0,0,0,0.65);
    cursor: pointer;
    &:hover {
      // background-color: rgba(0,0,0,0.65);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    // background-color: rgba(0,0,0,0.65);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100em;
    padding: 1em;
  }
}
